@model ComplaintManagementApp.Complaint_tbl

@{
    ViewBag.Title = "Details";
}



<div>

    <hr />
    <h4>All Complaints</h4>
    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complaint_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaint_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplaintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
