@model IEnumerable<ComplaintManagementApp.Complaint_tbl>


@{ ViewBag.Title = "Index"; }



<hr />
<br />
<br />
<div style="border:dotted thin #ff0000; margin:0 auto; width:90%">
    <h5>
        @Html.ActionLink("Create New Complaint", "Create")
    </h5>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Complaint_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateOn)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Complaint_Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateOn)
                </td>
            </tr>
        }


    </table>
</div>